<!DOCTYPE html>
<html lang="en">
<head>
    <title>Available Flights</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
<div class="container">
    <b><p th:text="'Flight Search Results'"/></b>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Flight Id</th>
            <!--<th>Plane Model</th>-->
            <th>Source</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <!--<th>AvailableSeats</th>-->
            <th>Total Price</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="flightView : ${searchResults}">
            <td th:text="${flightView.flightName}"/>
            <!--<th th:text=" ${flight.airplane.airplaneName}"/>-->
            <td th:text="${flightView.source}"/>
            <td th:text="${flightView.destination}"/>
            <td th:text="${flightView.departureDate}"/>
            <td th:text="${flightView.totalPrice}"/>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/AirlineBooking" >Back to Search</a>
</div>
</body>

</html>